@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../../../.flowbite-react/class-list.json";

/* === REMOVE SETAS DO SCROLL (APENAS DA TABELA) === */
.grid-scroll::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

/* Remove setas específicas (top, bottom, left, right) */
.grid-scroll::-webkit-scrollbar-button:single-button {
  display: none;
}

/* Mantém a barrinha */
.grid-scroll::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Estilo da barra */
.grid-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.grid-scroll::-webkit-scrollbar-thumb {
  background-color: #9ca3af; /* gray-400 */
  border-radius: 9999px;
}


